{% extends 'base.html' %}

{% block transfer_list %}active{% endblock transfer_list %}

{% block content %}

    {% for transfer in income_list %}
        {% if forloop.first %}
        <h3>All Incomes</h3>
        <table class="table table-striped">
            <thead>
                <tr><th>Amount</th><th>Description</th><th>Date</th></tr>
                
            </thead>
            <tbody>
        {% endif %}                 
            <tr>
                <td>{{transfer.get_absolute_amount}}</td>
                <td>{{transfer.description}}</td>
                <td>{{transfer.date_added}}</td>
            </tr>
        {% if forloop.last %}
            </tbody>
        </table>
        {% endif %}
    {% endfor %}

    {% for transfer in expense_list %}
        {% if forloop.first %}
        <h3>All Expenses</h3>
        <table class="table table-striped">
            <thead>
                <tr><th>Amount</th><th>Description</th><th>Date</th></tr>
                
            </thead>
            <tbody>
        {% endif %}                 
            <tr>
                <td>{{transfer.get_absolute_amount}}</td>
                <td>{{transfer.description}}</td>
                <td>{{transfer.date_added}}</td>
            </tr>
        {% if forloop.last %}
            </tbody>
        </table>
        {% endif %}
    {% endfor %}



    {% for transfer in object_list %}
        {% if forloop.first %}
        <h3>All Transfers</h3>
        <table class="table table-striped">
            <thead>
                <tr><th>Amount</th><th>Description</th><th>Date</th></tr>
                
            </thead>
            <tbody>
        {% endif %}                 
            <tr>
                <td>{{transfer.get_absolute_amount}}</td>
                <td>{{transfer.description}}</td>
                <td>{{transfer.date_added}}</td>
            </tr>
        {% if forloop.last %}
            </tbody>
        </table>
        {% endif %}
    {% endfor %}
{% endblock content %}
