{% extends 'base.html' %}

{% block home %}active{% endblock home %}

{% block content %}

<h3>Account balance: {{account_balance}}</h3>
    {% for transfer in latest_transfers %}
        {% if forloop.first %}
        <h3>Last 5 transfers</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Amount</th></tr>                    
                    <th>Description</th>
                    <th>Date</th>
                    
            </thead>
            <tbody>
        {% endif %}
                <tr>
                    <td>{{transfer.get_absolute_amount}}</td>                    
                    <td>{{transfer.description}}</td>
                    <td>{{transfer.date_added}}</td>                    
                </tr>
        {% if forloop.last %}
            </tbody>
        </table>
        {% endif %}
    {% endfor %}
{% endblock content %}
